body
{
}
h1{
	font-type: Verdana;
	font-size: 50px;
	text-align: center;
	margin: 0.1px;
	padding: 0.1px;
}
address	{
	text-align: center;
}
.telephone{
	text-align: center;
	margin-left: 0.1px;
	margin-right: 0.1px;
}
dt	{
	font-size: 20px;
	font-weight: bold;
}
dl	{
	margin: 0px 100px 0px 100px;
}
.vuodet	{
	font-style: italic;
}