body
{
}
img	{
	float: right;
	width: 300px;
	padding: 20px;
}
#isot	{
	text-transform: uppercase;
}
h1	{
	color: #006400;
	font-family: georgia;
	text-align: center;
}
h2	{
	text-align: center;
	line-height: 19px;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}