body
{
}
.otsikko	{
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	background-color: #DDBBDD;

}
#vasen	{
	text-align: left;
}
th, td	{
	text-align: center;
	
}
table	{
	
}
tr:nth-child(odd){
background-color:#DDFFDD;
}
tr:nth-child(even){
background-color:#FFFFFF;
}